<div class="container border-top border-primary h-100">
  <%= simple_form_for @task do |f| %>
    <div class="row">
      <div class="col p-4">
        <%= f.input :name, label: "Nom de la tâche:"  %>
        <%= f.input :description, label: "Descritpion:", input_html: {style: 'height:100px;'} %>
        <%= f.input :category, collection: Task::CATEGORY, label: "Catégorie:" %>
      </div>
      <div class="col pt-4 pb-4">
        <div class="mb-5">
          <%= f.input :status, class: "mb-5", collection: Task::STATUS, label: "Statut:", default: "En attente" %>
        </div>
        <div class="mt-5 pt-3">
          <%= f.input :assigned_users, collection: Task::ASSIGNED_USERS, input_html: { multiple: true }, label: "Assigner à (plusieurs choix possibles):" %>
        </div>
      </div>

      <div class="col-12 w-100">
        <%= f.submit 'Modifier la tâche', class: "btn btn-primary w-100 mb-4 pt-3 pb-3 fs-4 rounded-4" %>
      </div>
    </div>
  <% end %>
</div>
